{% extends "app_proj_projects/base.html" %}

{% load static %}

{% block content %}


<!-- <a href="{% url 'app_blog:all_posts' %}">all posts</a>

<a href="{% static 'app_proj_static_media/buka.jpg' %}">buka</a> -->


<div class="row justify-content-center my-3">
    <div class="col-5">
        <img src="{% static 'app_proj_static_media/snufkin.jpg' %}" class='img-fluid' alt="">
    </div>
</div>


<div class="row justify-content-center mb-3">
    <div class="col-md-9 text-center">
        <h1 id="hometext" class="font-weight-bold">home</h1>
    </div>
</div>


<h2 class="mt-5">recent projects</h2>
<hr>
<div class="row">
    {% for project in projects %}
    <div class="col-lg-4 col-md-6">
        {% if project.url %}
        <a href="{{ project.url }}" target="_blank">
            <img src="{{ project.image.url }}" class="img-fluid mb-2" alt="">
        </a>
        {% else %}
        <img src="{{ project.image.url }}" class="img-fluid mb-2">
        {% endif %}
        <h3>{{ project.title }}</h3>
        <p>{{ project.description|striptags|truncatechars:70 }}</p>
    </div>
    {% endfor %}
</div>


{% endblock %}

